@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.primary {
  color: #cdb376;
}

.primary-bg{
  background-color: #eed498;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper .swiper-slide {
  transition: transform 300ms ease, opacity 300ms ease;
}

.mySwiper .swiper-slide:not(.swiper-slide-active) {
  transform: scale(0.9);
  opacity: 0.8;
}

.mySwiper .swiper-slide-active {
  transform: scale(1);
  opacity: 1;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



